/* This stylesheet is used to style the public-facing components of the plugin. */

$usc-jobs-blue: rgb(31, 178, 232);
$usc-jobs-blue--transparent: rgba(31, 178, 232, .5);

@mixin sidebar-btn-colors($transparent_decimal: 1) {

  border-color:     #CCC;

  color:            rgb(102, 102, 102);
  color:            rgba(102, 102, 102, $transparent_decimal);

  background-color: rgb(239, 239, 239);
  background-color: rgba(239, 239, 239, $transparent_decimal);

  input {
    opacity: $transparent_decimal;
    filter: alpha(opacity= ($transparent_decimal * 100)); /* For IE8 and earlier */
  }
}

@mixin btn-style($border-color: #CCC, $margin: 15px 0 10px, $background-color: #EFEFEF) {

  border:       1px solid $border-color;
  padding:      15px 15px;
  display:      block;
  position:     relative;
  margin:       $margin;
  background:   none repeat scroll 0% 0% $background-color;

}

.single-usc_jobs,
.post-type-archive-usc_jobs,
.tax-departments {

  .et_pb_fullwidth_header {

    background-color: $usc-jobs-blue;
  }

  .breadcrumbs a:hover {

    color: $usc-jobs-blue--transparent !important;
  }

  h4 {

    color: $usc-jobs-blue;
  }
}

.single-usc_jobs {

  #usc_jobs-post {

    padding-top: 0 !important;
  }

  #content-area {

    padding: 0;

      .et_pb_widget_area {

        padding-top: 30px;
      }
  }

  .usc_jobs-article-info {

    margin-bottom: 0;
  }
}

.usc_jobs-entry-content {

  p {

    margin-left:    0;
    padding-bottom: .35em;

    /* Got both of these from Tyler's style.css */
    font-size: 1.25em;
    line-height: 1.85;
  }

  span.subheading {

    display:        inline-block;
    font-weight:    600;
    padding-right:  5px;
  }
}

.post-type-archive-usc_jobs,
.tax-departments {

  .et_pb_widget_area  {

    .et_pb_widget {

      margin: 15px 0px 25px;

      .widgettitle {

        color: $usc-jobs-blue;
      }
    }

    .filterjs__filter__search__wrapper {

      input {

        border:         none;
        border-bottom:  1px solid #ccc;
        width:          100%;
        font-size:      1.75em;
        margin:         10px 0;

        &:focus {
          border-bottom:  1px solid $usc-jobs-blue;
        }

      }
    }

    .filterjs__filter__checkbox__wrapper {


      ul li {

        margin: 0;

        &:first-of-type {

          margin-top: 15px;
        }

        &:last-of-type {

          margin-bottom: 10px;

          label {

            border-bottom: 1px solid #CCC;
          }
        }

        label {

          @include btn-style( #CCC, 0 );
          @include sidebar-btn-colors(.5);
          border-bottom:  none;
          cursor:         pointer;

          &:hover {

              color: #666666;
          }

          &.checked {

            @include sidebar-btn-colors(1);
          }

          input {

            margin: 3px 18px 3px 3px;
          }
        }

      }
    }
  }

  .usc_jobs--count {

    box-sizing:     border-box;
    margin-top:     15px;
    color:          #666666;
    text-transform: none;
    padding:        0;
    font-style:     italic;
    font-weight:    400;
  }

  .type-usc_jobs {

    @extend .usc_jobs-entry-content;


    /* border color, margin, background color */
    @include btn-style(#efefef, 15px 0 25px, #FFF );

    h2 {

      margin:         0 0 10px 0;
      padding:        10px 0 20px 0;
      border-bottom:  1px dashed #efefef;
      color:          $usc-jobs-blue;
      position:       relative;

      &:hover {

        color:  $usc-jobs-blue--transparent;
      }

      &:before {

        font-family:    'ETmodules';content: "\45";
        font-size:      0.75em;
        position:       absolute;
        right:          2px;
        color:          $usc-jobs-blue;

        -webkit-transition-property: right;
        -moz-transition-property: right;
        -o-transition-property: right;
        transition-property: right;
        -webkit-transition-duration: 0.05s;
        -moz-transition-duration: 0.05s;
        -o-transition-duration: 0.05s;
        transition-duration: 0.05s;
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
      }

      &:hover:before{

        right:  0;
        color:  $usc-jobs-blue--transparent;
      }
    }

    p,
    .post-meta {

      padding: 0;
    }

  }
}

.button_area_at_the_bottom_of_a_single_usc_job {

  text-align: right;

  ul {

    li {

      display:    inline-block;
      width:      25%;
      text-align: left;
      padding:    0 10px;
      box-sizing: border-box;

      a {

        color: #666;
        position: relative;

        &:hover {

          color: $usc-jobs-blue;
        }
      }
    }
  }
}

.btn-menu {

  ul li a {
    position: relative;
  }

  :before {
    font-weight: normal;
  }

  .job_description_file:before {

    content: "\e092";
  }
  .job_posting_file:before {

    content: "\e092";
  }
  .application_link:before {

    content: "\e02b";
  }
}

@media screen and (min-width: 981px) and (max-width: 1100px) {

  .btn-menu.button_area_at_the_bottom_of_a_single_usc_job ul li {

    margin: 10px 0 10px 0;
    width:  50%;
    padding-left: 0;
    padding-right: 20px;
  }
}

@media screen and (max-width: 980px) {
  .button_area_at_the_bottom_of_a_single_usc_job ul li {

    width:    100%;
    display:  block;
    padding:  0;
  }

  /* Hide 'Remuneration' and 'Departments' checkboxes on mobile */
  .filterjs__filter__checkbox__wrapper:last-of-type {

    display: none;
  }
}
