/* This stylesheet is used to style the public-facing components of the plugin. */

.news-entry-content.news-entry-content__usc_jobs p {
    margin-left:    0;
}

.news-entry-content.news-entry-content__usc_jobs span.subheading {

    display:        inline-block;
    font-weight:    bold;
}
