/* This stylesheet is used to style the public-facing components of the plugin. */
.single-usc_jobs .et_pb_fullwidth_header,
.post-type-archive-usc_jobs .et_pb_fullwidth_header,
.tax-departments .et_pb_fullwidth_header {
  background-color: #1fb2e8; }
.single-usc_jobs .post-meta a:hover,
.single-usc_jobs #content-area .et_pb_widget_area li a:hover,
.single-usc_jobs .breadcrumbs a:hover,
.post-type-archive-usc_jobs .post-meta a:hover,
.post-type-archive-usc_jobs #content-area .et_pb_widget_area li a:hover,
.post-type-archive-usc_jobs .breadcrumbs a:hover,
.tax-departments .post-meta a:hover,
.tax-departments #content-area .et_pb_widget_area li a:hover,
.tax-departments .breadcrumbs a:hover {
  color: rgba(31, 178, 232, 0.5) !important; }
.single-usc_jobs h4,
.post-type-archive-usc_jobs h4,
.tax-departments h4 {
  color: #1fb2e8; }

.single-usc_jobs #usc_jobs-post {
  padding-top: 0 !important; }
.single-usc_jobs #content-area {
  padding: 0; }
  .single-usc_jobs #content-area .et_pb_widget_area {
    padding-top: 30px; }
  .single-usc_jobs #content-area .usc_jobs-entry-content p, .single-usc_jobs #content-area .post-type-archive-usc_jobs .type-usc_jobs p, .post-type-archive-usc_jobs .single-usc_jobs #content-area .type-usc_jobs p,
  .single-usc_jobs #content-area .tax-departments .type-usc_jobs p,
  .tax-departments .single-usc_jobs #content-area .type-usc_jobs p {
    /* Got both of these from Tyler's style.css */
    font-size: 1.25em;
    line-height: 1.85; }
.single-usc_jobs .usc_jobs-article-info {
  margin-bottom: 0; }

.usc_jobs-entry-content p, .post-type-archive-usc_jobs .type-usc_jobs p,
.tax-departments .type-usc_jobs p {
  margin-left: 0;
  padding-bottom: .35em; }
.usc_jobs-entry-content span.subheading, .post-type-archive-usc_jobs .type-usc_jobs span.subheading,
.tax-departments .type-usc_jobs span.subheading {
  display: inline-block;
  font-weight: 600;
  padding-right: 5px; }
.usc_jobs-entry-content a, .post-type-archive-usc_jobs .type-usc_jobs a,
.tax-departments .type-usc_jobs a {
  color: #1fb2e8; }
  .usc_jobs-entry-content a:hover, .post-type-archive-usc_jobs .type-usc_jobs a:hover,
  .tax-departments .type-usc_jobs a:hover {
    color: rgba(31, 178, 232, 0.5); }

.post-type-archive-usc_jobs .et_pb_widget_area .et_pb_widget,
.tax-departments .et_pb_widget_area .et_pb_widget {
  margin: 15px 0px 25px; }
  .post-type-archive-usc_jobs .et_pb_widget_area .et_pb_widget .widgettitle,
  .tax-departments .et_pb_widget_area .et_pb_widget .widgettitle {
    color: #1fb2e8; }
.post-type-archive-usc_jobs .et_pb_widget_area .filterjs__filter__search__wrapper input,
.tax-departments .et_pb_widget_area .filterjs__filter__search__wrapper input {
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  font-size: 1.75em;
  margin: 10px 0; }
  .post-type-archive-usc_jobs .et_pb_widget_area .filterjs__filter__search__wrapper input:focus,
  .tax-departments .et_pb_widget_area .filterjs__filter__search__wrapper input:focus {
    border-bottom: 1px solid #1fb2e8; }
.post-type-archive-usc_jobs .et_pb_widget_area .filterjs__filter__checkbox__wrapper ul li,
.tax-departments .et_pb_widget_area .filterjs__filter__checkbox__wrapper ul li {
  margin: 0; }
  .post-type-archive-usc_jobs .et_pb_widget_area .filterjs__filter__checkbox__wrapper ul li:first-of-type,
  .tax-departments .et_pb_widget_area .filterjs__filter__checkbox__wrapper ul li:first-of-type {
    margin-top: 15px; }
  .post-type-archive-usc_jobs .et_pb_widget_area .filterjs__filter__checkbox__wrapper ul li:last-of-type,
  .tax-departments .et_pb_widget_area .filterjs__filter__checkbox__wrapper ul li:last-of-type {
    margin-bottom: 10px; }
    .post-type-archive-usc_jobs .et_pb_widget_area .filterjs__filter__checkbox__wrapper ul li:last-of-type label,
    .tax-departments .et_pb_widget_area .filterjs__filter__checkbox__wrapper ul li:last-of-type label {
      border-bottom: 1px solid #CCC; }
  .post-type-archive-usc_jobs .et_pb_widget_area .filterjs__filter__checkbox__wrapper ul li label,
  .tax-departments .et_pb_widget_area .filterjs__filter__checkbox__wrapper ul li label {
    border: 1px solid #cccccc;
    padding: 15px 15px;
    display: block;
    position: relative;
    margin: 0;
    background: none repeat scroll 0% 0% #efefef;
    border-color: #CCC;
    color: #666666;
    color: rgba(102, 102, 102, 0.5);
    background-color: #efefef;
    background-color: rgba(239, 239, 239, 0.5);
    border-bottom: none;
    cursor: pointer; }
    .post-type-archive-usc_jobs .et_pb_widget_area .filterjs__filter__checkbox__wrapper ul li label input,
    .tax-departments .et_pb_widget_area .filterjs__filter__checkbox__wrapper ul li label input {
      opacity: 0.5;
      filter: alpha(opacity=50);
      /* For IE8 and earlier */ }
    .post-type-archive-usc_jobs .et_pb_widget_area .filterjs__filter__checkbox__wrapper ul li label:hover,
    .tax-departments .et_pb_widget_area .filterjs__filter__checkbox__wrapper ul li label:hover {
      color: #666666; }
    .post-type-archive-usc_jobs .et_pb_widget_area .filterjs__filter__checkbox__wrapper ul li label.checked,
    .tax-departments .et_pb_widget_area .filterjs__filter__checkbox__wrapper ul li label.checked {
      border-color: #CCC;
      color: #666666;
      color: #666666;
      background-color: #efefef;
      background-color: #efefef; }
      .post-type-archive-usc_jobs .et_pb_widget_area .filterjs__filter__checkbox__wrapper ul li label.checked input,
      .tax-departments .et_pb_widget_area .filterjs__filter__checkbox__wrapper ul li label.checked input {
        opacity: 1;
        filter: alpha(opacity=100);
        /* For IE8 and earlier */ }
    .post-type-archive-usc_jobs .et_pb_widget_area .filterjs__filter__checkbox__wrapper ul li label input,
    .tax-departments .et_pb_widget_area .filterjs__filter__checkbox__wrapper ul li label input {
      margin: 3px 18px 3px 3px; }
.post-type-archive-usc_jobs .usc_jobs--count,
.tax-departments .usc_jobs--count {
  box-sizing: border-box;
  margin-top: 15px;
  color: #666666;
  text-transform: none;
  padding: 0;
  font-style: italic;
  font-weight: 400; }
.post-type-archive-usc_jobs .type-usc_jobs,
.tax-departments .type-usc_jobs {
  /* border color, margin, background color */
  border: 1px solid #efefef;
  padding: 15px 15px;
  display: block;
  position: relative;
  margin: 15px 0 25px;
  background: none repeat scroll 0% 0% white; }
  .post-type-archive-usc_jobs .type-usc_jobs h2,
  .tax-departments .type-usc_jobs h2 {
    margin: 0 0 10px 0;
    padding: 10px 0 20px 0;
    border-bottom: 1px dashed #efefef;
    color: #1fb2e8;
    position: relative; }
    .post-type-archive-usc_jobs .type-usc_jobs h2:hover,
    .tax-departments .type-usc_jobs h2:hover {
      color: rgba(31, 178, 232, 0.5); }
    .post-type-archive-usc_jobs .type-usc_jobs h2:before,
    .tax-departments .type-usc_jobs h2:before {
      font-family: 'ETmodules';
      content: "\45";
      font-size: 0.75em;
      position: absolute;
      right: 2px;
      color: #1fb2e8;
      -webkit-transition-property: right;
      -moz-transition-property: right;
      -o-transition-property: right;
      transition-property: right;
      -webkit-transition-duration: 0.05s;
      -moz-transition-duration: 0.05s;
      -o-transition-duration: 0.05s;
      transition-duration: 0.05s;
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s; }
    .post-type-archive-usc_jobs .type-usc_jobs h2:hover:before,
    .tax-departments .type-usc_jobs h2:hover:before {
      right: 0;
      color: rgba(31, 178, 232, 0.5); }
  .post-type-archive-usc_jobs .type-usc_jobs p,
  .post-type-archive-usc_jobs .type-usc_jobs .post-meta,
  .tax-departments .type-usc_jobs p,
  .tax-departments .type-usc_jobs .post-meta {
    padding: 0; }

.button_area_at_the_bottom_of_a_single_usc_job {
  text-align: right; }
  .button_area_at_the_bottom_of_a_single_usc_job ul li {
    display: inline-block;
    width: 25%;
    text-align: left;
    padding: 0 10px;
    box-sizing: border-box; }
    .button_area_at_the_bottom_of_a_single_usc_job ul li a {
      color: #666;
      position: relative; }
      .button_area_at_the_bottom_of_a_single_usc_job ul li a:hover {
        color: rgba(31, 178, 232, 0.5); }
        .button_area_at_the_bottom_of_a_single_usc_job ul li a:hover:before {
          right: 15px; }

.btn-menu ul li a {
  position: relative; }
.btn-menu :before {
  font-weight: normal; }
.btn-menu .job_description_file:before {
  content: "\e092"; }
.btn-menu .job_posting_file:before {
  content: "\e092"; }
.btn-menu .application_link:before {
  content: "\e02b"; }

@media screen and (min-width: 981px) and (max-width: 1100px) {
  .btn-menu.button_area_at_the_bottom_of_a_single_usc_job ul li {
    margin: 10px 0 10px 0;
    width: 50%;
    padding-left: 0;
    padding-right: 20px; } }
@media screen and (max-width: 980px) {
  .button_area_at_the_bottom_of_a_single_usc_job ul li {
    width: 100%;
    display: block;
    padding: 0; } }
